.profile-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  z-index: 2;
  user-select: none;
}

.profile-data {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: 50vh; 
  transform: translateY(-50%);
  background-color: rgba(23, 23, 23, 0.54);
  padding: 2em;
  border-radius: 1.74em;
  backdrop-filter: blur(6px);
}

.profile-data h1 {
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profile-data p {
  font-size: 1.2em;
  margin: 0.2em 0;
  color: rgba(255, 255, 255, 0.8);
}

.profile-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin: 1em 0;
  z-index: 3;
}

.profile-resume {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  background-color: var(--primary);
  color: #343434;
  font-weight: 600;
}

@media (max-width: 768px) {
  .profile-data {
    padding: 1.5em;
  }
  .profile-data h1 {
    font-size: 2em;
  }
  .profile-data p {
    font-size: 1em;
  }
}