@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: white;
  background-color: var(--dark1);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --dark1: #171717;
  --dark2: #323232;
  --primary: #ffe095;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: #343434;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: #171717;
}
a:hover {
  color: #171717;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Plus Jakarta Sans", sans-serif;
}

h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.9em;
}
h3 {
  font-size: 1.5em;
}

.appContainer {
  width: 80vw;
  margin: 0px auto;
  max-width: 800px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 90px;
  margin-top: 10px;
  /* background-color: red; */
  padding: 0em 1em;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.7em;
  font-size: 1.4em;
  cursor: pointer;
}
.theme-toggler {
  font-size: 1.5em;
  cursor: pointer;
}

.button-one {
  cursor: pointer;
  border-style: none;
  padding: 0.8em;
  font-size: 1em;
  border-radius: 1em;
}
.button-live {
  cursor: pointer;
  border-style: none;
  padding: 0.8em;
  font-size: 1em;
  border-radius: 1em;
}

main {
  display: flex;
  flex-direction: column;
}

.profile-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 2em;
  margin: 2em 0em;
}

.profile-picture {
  background-color: var(--dark2);
  border-radius: 100%;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture img {
  border-radius: 100%;
  width: 170px;
  background-color: var(--dark1);
}

.profile-data {
  display: flex;
  align-items: left;
  flex-direction: column;
}

.profile-data p {
  font-size: 1.3em;
  margin: 0.2em 0em;
}

.profile-buttons {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 1em 0em;
}

.profile-resume {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  background-color: var(--primary);
  color: #343434;
  font-weight: 600;
}

hr {
  opacity: 0.15;
}

.projects-section-container {
  display: flex;
  flex-direction: column;
}

.projects-section-title {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1em;
  margin: 1.5em 0em;
}

.projects-section-title i {
  font-size: 1.74em;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.project-box {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  cursor: pointer;
}

.project-image-container {
  background-color: var(--dark2);
  padding: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-image-container img {
  width: 374px;
  border: 2px solid var(--dark1);
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.project-info p{
}

.project-techno-icons {
  font-size: 2em;
  display: flex;
  align-items: center;
  gap: 0.2em;
}
.project-techno-icons img {
  width: 0.74em;
  filter: invert(1);
  margin: 0.2em 0em;
}

.project-buttons {
  display: flex;
  gap: 1em;
}

.button-live {
  font-weight: 600;
  padding: 0.7em 1.4em;
  background-color: white;
  color: var(--dark1);
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.4em;
  font-size: 1.1em;
  padding: 0.4em 1em;
}
.button-live i {
  font-size: 1.4em;
}

.more-projects-section{
  margin-top: 8em;
}

.more-projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin: 2em 0em;
}

.project-card {
  padding: 1.4em;
  border-radius: 1em;
  border: 2px solid var(--dark2);
  display: flex;
  flex-direction: column;
  gap: 1em;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.project-card:hover {
  background-color: #191919;
  border: 2px solid #545454;
  scale: 1.025;
}

.project-card h3 {
}

.project-card p {
}

.card-icons {
  display: flex;
  gap: 0.74em;
  justify-content: flex-end;
}
.card-icons i{
  font-size: 1.74em;
}


@media (max-width: 748px) {
  .more-projects-container {
    grid-template-columns: 1fr;
  }
}